a {
    color: #000;
}

body {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

h1, h2 {
    font-family: Arial, Verdana, sans-serif;
    line-height: 1em;
}

i {
    vertical-align: middle;
}

blockquote {
    border-left: 1px solid #eee;
    font-style: italic;
    padding-left: 1em;
}

.container {
    margin: 9em 0 3em 0;
}

.author-info {
    font-size: 0.9em;
    float: right;
    text-align: right;
    width: 165px;
}

.author-image {
    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    border-radius: 95px;
    height: 70px;
    width: 70px;
}

.author-name {
    margin: 0.2em 0;
}

.author-name a {
    text-decoration: none;
}

.nav a {
    padding-left: 1em;
    text-decoration: none;
}

.author-bio {
    color: #666;
    font-style: italic;
    line-height: 1.4em;
    margin-top: 0.5em;
}

.right-column {
    max-width: 40em;
    padding: 0 4em;
}

.post-meta {
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 0 0 1em 0;
    overflow: auto;
    padding: 0;
}

.post-meta li, .post-meta a {
    color: #999;
}

.post-meta li {
    display: inline;
    float: left;
    overflow: auto;
    padding-left: 0.5em;
}

.post-meta li:first-child {
    padding-left: 0;
}

.post-meta i {
    padding-right: 0.4em;
}

.post {
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
    padding-bottom: 1em;
}

.feature-image {
    margin-bottom: 1em;
}

p.feature-image {
    margin-top: 2em;
}

.feature-image img {
    width: 99%;
}

p.feature-image img {
    border: 2px solid #333;
}

.post-title {
    letter-spacing: -1px;
    margin: 0;
}

.post-title a, .post-meta a {
    text-decoration: none;
}

.post-meta a:hover {
    text-decoration: underline;
}

.post-title i {
    color: #999;
    font-size: 0.5em;
    vertical-align: middle;
}

.post-title-large {
    clear: left;
    font-size: 3em;
    letter-spacing: -2px;
    margin: 0;
}

.post-content {
    color: #333;
    font-size: 1.2em;
    line-height: 1.4em;
}

.highlight {
    border-left: 1px solid #eee;
    font-size: 0.8em;
    line-height: 1em;
    padding-left: 1.5em;
}

code span {
    white-space: nowrap;
}

pre {
    white-space: pre;
    overflow-x: auto;
    overflow-y: hidden;
}

p code, ul code {
    background: #eee;
    border: 1px solid #ccc;
    font-size: 0.8em;
    padding: 2px 5px;
    white-space: nowrap;
}

.post-content .source {
    font-style: italic;
    text-align: right;
}

.post-content .source:before {
    content: "- ";
}

.post-content img {
    border: 2px solid #333;
    width: 80%;
    margin-top: 1em;
    margin-left: 10%;
}

.post-content .caption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    margin-top: 0;
}

.tags h1 {
    margin-top: 0;
}

.tags ul {
    list-style-type: none;
    margin-bottom: 1.5em;
}

.tags ul:first-child {
    margin: 0;
    padding: 0;
}

@media (max-width: 767px) {
    .container {
        margin: 3em 0;
    }
    
    .author-info {
        float: none;
        margin: 0 auto 3em auto;
        text-align: center;
        width: 80%;
    }

    .nav {
        margin: 0 auto 1em auto;
    }

    .nav a {
        padding: 0.5em;
    }

    .right-column {
        padding: 0 3em;
    }
}
