a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

blockquote {
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0.5em;
}

.container {
    margin: 7em 0 3em 0;
}

.nav {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

.nav a {
    color: #000;
    padding-left: 1em;
    text-decoration: none;
}

.author-info {
    font-size: 0.9em;
    float: right;
    text-align: right;
    width: 165px;
}

.author-bio {
    color: #666665;
    font-style: italic;
    line-height: 1.4em;
    margin-top: 0.5em;
    font-weight: 400;
}

.author-name {
    margin: 0.2em 0;
}

.author-image {
    -webkit-border-radius: 95px;
    -moz-border-radius: 95px;
    border-radius: 95px;
    height: 70px;
    width: 70px;
}

@media (max-width: 767px) {
    .container {
        margin: 3em 0;
    }
    
    .author-info {
        font-size: 1em;
        float: none;
        margin: 0 auto 2em auto;
        text-align: center;
        width: 80%;
    }

    .nav {
        margin: 0 auto 1em auto;
    }

    .nav a {
        padding: 0.5em;
    }
}

.post-list {
    max-width: 40em;
    padding: 0 3em;
}

.post {
    border-bottom: 1px solid #eee;
    margin-bottom: 1.5em;
    padding-bottom: 1.5em;
}

.post p {
    margin-bottom: 0;
}

.post-title {
    margin-top: 0;
    margin-bottom: 0.5em;
}

.post-title i {
    color: #999;
    font-size: 0.5em;
    vertical-align: middle;
}

.post-excerpt {
    color: #333;
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 0;
}

.post .source {
    font-style: italic;
    text-align: right;
}

.post .source:before {
    content: "-";
}

.post img {
    border: 3px solid #000;
    width: 99%;
}

.post .caption {
    font-family: Arial, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}
