<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel=stylesheet type=text/css href=/css/pure-min.css>
        <link rel=stylesheet type=text/css href=/css/styles.css>
        <link rel=stylesheet type=text/css href=/css/font-awesome/css/font-awesome.min.css>
    </head>
    <body>
        <div class="container pure-g-r">
            <div class=pure-u-1-4>
                {% include header.html %}
            </div>
            <div class=pure-u-3-4>
                <div class=right-column>
                    {{ content }}
                </div>
            </div>
        </div>
    </body>
</html>
